.bg-night {
    background: #1d1d1d;
}

.lh-0 {
    line-height: 0;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
    background-color: var(--bs-warning);
}

.dropdown-menu-dark {
    border: 1px solid rgba(255, 255, 255, .1);
}

.form-control:focus, button:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 193 7 / 25%) !important;
}

#carousel-promo img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.slick-carousel .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    z-index: 2;
}

.slick-track {
    display: flex;
}

.slick-slide {
    height: auto;
}

.slick-arrow {
    cursor: pointer;
}

.slick-prev {
    margin-left: -0.3rem;
}

.slick-next {
    margin-right: -0.3rem;
}

.slick-disabled {
    opacity: .4;
    cursor: auto;
}

.slick-slide:hover {
    transition-duration: .3s;
    transform: scale(1.01);
}

.popover {
    background: #1d1d1d;
    border: 1px solid rgba(255, 255, 255, .1);
}

.popover-arrow::after {
    border-bottom-color: rgba(255, 255, 255, .2)!important;
}

span#availability::after {
    content: '•';
    margin-left: 0.5rem;
}

.btn.rounded-circle.active, .btn.rounded-circle:hover {
    border: 0.15rem solid white !important;
}

.carousel button:focus, #extender:focus, .btn.rounded-circle:focus, .buy-btn:focus {
    box-shadow: none !important;
}

.characteristicDescription, .comment-text {
    color: #999999;
}

.breadcrumb-item a {
    color: #999999;
    text-decoration: none;
}

.breadcrumb-item a:hover, .breadcrumb-item a:active {
    color: #ffffff;
}

.breadcrumb-item a:hover {
    transition: .5s;
}

.breadcrumb-item.active {
    color: #ffffff;
}

.buy-btn:hover, .buy-btn:active {
    opacity: .9;
    transition: .5s;
}

#blueColor {
    background: #3da0c2;
}

#redColor {
    background: #e40d0d;
}

#greenColor {
    background: #4d584f;
}

#pinkColor {
    background: #fa8072;
}

#midnightColor {
    background: #0d1b3a;
}

#starlightColor {
    background: #ffffff;
}

.btn-color {
    width: 2.5rem;
    height: 2.5rem;
}

#up-btn {
    background: var(--bs-warning);
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-size: 2rem;
    border-radius: 100%;
    z-index: 100;
    transition: opacity .5s;
}

#up-btn:hover {
    cursor: pointer;
}

.rating__points::before, .stars__body::before, .evaluation__body::before {
    content: "★★★★★";
    display: block;
}

.rating__active, .stars__active, .evaluation__active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before, .stars__active::before, .evaluation__active::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "★★★★★";
    color: var(--bs-warning);
}

.progress-bar {
    background-color: var(--bs-warning);
    color: #000000;
}

.date::before {
    content: '-';
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.evaluation__items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.evaluation__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.evaluation {
    margin-top: -0.5rem;
}

.review-anchor:hover {
    color: #999999 !important;
    transition: .25s;
}

.dashes {
    margin-left: 20px;
    border-bottom: 1px dashed #999999;
    flex-grow: 1;
    height: 14px;
}

@media screen and (max-width: 991px) {
    .buttons-block {
        justify-content: center;
    }

    #up-btn {
        display: none;
    }

    .dashes {
        display: none;
    }
}